body{
  overflow: auto;
}
.main{
  overflow: auto;
}
.sidebar{
  background-color: var(--accent);
}
  .mainWorks {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 4;
  text-align: center;
  width: 100%;
  align-items: center;
}
.navigation{
  background-color: var(--mainBackground);
  padding-bottom: 2vh;
}
.navigation span {
  color: white;
}
.navigation span:hover {
  color: var(--accent);
}
.myWork {
  margin: 5vh 0 0 0;
  height: 95%;
  width: 90%;
  display: flex;
  align-content: center;
  flex-direction: column;
}
.myWork h1 {
  font-size: 10vh;
  margin: 5vh;
}

.layoutForWork {
  display: grid;
  grid-gap: 1.5vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 60vh;
  margin-top: 0vh;
}
.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.projectSection {
  background-color: rgb(255, 255, 255);
  border: 1px solid;
  border-color: black;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.projectSection:hover {
  transform: scale(1.25);
  -webkit-transform: scale(1.25);
  z-index: 1;
}
.projectSection img {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.titleDesc {
  position: absolute;
  background-color: rgba(46, 46, 46, 0.795);
  bottom: 0;
  color: white;
  font-weight: bold;
  width: 100%;
  display: none;
}
.projectSection:hover .titleDesc {
  display: block;
}
.sec1 {
  grid-column: 1;
  grid-row: 1 / 5;
}

.sec2 {
  grid-column: 1;
  grid-row: 5 / 9;
}
.sec3 {
  grid-column: 2/ 4;
  grid-row: 1 / 4;
}
.sec4 {
  grid-column: 2;
  grid-row: 4 / 9;
}
.sec5 {
  grid-column: 3/5;
  grid-row: 4 / 9;
}
.sec6 {
  grid-column: 4;
  grid-row: 1 / 4;
}
.sec7 {
  grid-column: 5;
  grid-row: 1 / 5;
}
.sec8 {
  grid-column: 5;
  grid-row: 5 / 9;
}

@media (max-width: 1100px) {
  .sidebar h2 {
    font-size: 3vw;
    word-wrap: unset;
  }
}
@media (max-width: 900px) {
    .myWork h1 {
        margin-bottom: -4vh;
      }
    .sidebar {
        display: none !important;
      }
  .layoutForWork {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5vh;
    align-items: center;
    justify-content: center;
    padding: 5vh;
    height: 100%;
    scrollbar-width: none; /* Firefox */
    width: 60vw;
  }
  .projectSection {
    height: 25vh;
    width: 60vw;
  }
  .titleDesc {
    display: block;
  }
}
@media (max-width: 800px) {
  .mainWorks {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .myWork {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .layoutForWork {
    width: 70vw;
  }
}
@media (max-width: 600px) {
  .myWork h1 {
font-size: 7vh;
  }
}
@media (max-width: 500px) {
    .projectSection {
        height: 25vh;
        width: 80vw;
      }
}